.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control',
  placeholder: "Input item name"

.form-group
  = f.label :volume
  = f.text_field :volume, class: 'form-control',
  placeholder: "Input volume in cubic feet"

.form-group
  = f.label :quantity
  = f.text_field :quantity, class: 'form-control',
  placeholder: "How many?"

.form-group
  = f.label :category
  = f.text_field :category, class: 'form-control',
  placeholder: "Input category"

.form-group
  = f.label :room
  = f.text_field :room, class: 'form-control',
  placeholder: "Input room"

.form-group
  = f.label :description
  = f.text_area :description, class: 'form-control',
    placeholder: "Write description"
