.form-group.col-sm-6
  = f.label :name,      class: "col-sm-4"
  = f.text_field :name, class: "form-control col-sm-8"

.form-group.col-sm-6
  = f.label :category,      class: "col-sm-4"
  = f.text_field :category, class: 'form-control col-sm-8'

.clearfix

.form-group.col-sm-6
  = f.label :volume, class: "form-group col-sm-4"
  = f.number_field :volume, in: 0..200, step: 0.5, id: "slider_value"
  = f.range_field :volume,  in: 0..200, step: 0.5, id: "slider"

.form-group.col-sm-6
  = f.label :quantity,                             class: "col-sm-4"
  = f.number_field :quantity, in: 0..999, step: 1, class: "form-control col-sm-8"

.clearfix

.form-group.col-sm-6
  = f.label :room,      class: "col-sm-4"
  = f.text_field :room, class: 'form-control col-sm-8'

.form-group.col-sm-6
  = f.label :description,     class: "col-sm-4"
  = f.text_area :description, class: 'form-control col-sm-8',
    placeholder: "Write description"

.clearfix

:coffee

  setSliderVal = ->
    sliderVal = document.getElementById('slider').value
    $("#slider_value").val(sliderVal)

  jQuery ->
    setSliderVal()
    document.getElementById('slider').addEventListener 'change', ->
      setSliderVal()

:css

  #add_moving_item .form-group {
    margin-bottom: 20px;
  }
