.form-inline
  .form-group
    = f.text_field :name, class: "form-control", placeholder: "Name"

  .form-group
    = f.text_field :category, class: 'form-control', placeholder: "Category"

  .form-group
    = f.text_field :room, class: 'form-control', placeholder: "Room"
.clearfix

.form-inline
  .form-group
    = f.label :volume
    = f.number_field :volume, in: 0..200, step: 0.5, value: 3, class: "form-control"
  .form-group
    = f.range_field :volume, value: 3, id: "volume_slider"
  .form-group
    = f.label :quantity
    = f.number_field :quantity, in: 0..999, step: 1, class: "form-control", value: 1
.clearfix

.form-group
  = f.text_area :description, class: 'form-control', placeholder: "Description"
.clearfix


:coffee

  jQuery ->

    setVolume = (volume)->
      $("#moving_item_volume").val(volume)

    setSlider = (volume)->
      $("#volume_slider").val(volume)

    # Slider

    document.getElementById('volume_slider').addEventListener 'change', ->
      setVolume(document.getElementById('volume_slider').value)

    # AutoComplete

    $('#moving_item_name').autocomplete
      source: Object.keys( $('#suggestions').data('items') )
      select: (e, ui) =>
        itemVolume = $('#suggestions').data('items')[ui.item.value]
        setVolume(itemVolume)
        setSlider(itemVolume)

    $('#moving_item_room').autocomplete
      source: $('#suggestions').data('rooms')

    $('#moving_item_category').autocomplete
      source: $('#suggestions').data('categories')
