.table-responsive
  %table.table.table-bordered.table-hover.table-striped
    %thead
      %tr
        %th
        %th Name
        %th Vol
        %th Qty
        %th Room
        %th Category
        %th Description
        %th
    %tbody
      - @moving_items.each do |item|
        %tr
          %td= item.moving_id
          %td= item.name
          %td= item.volume
          %td= item.quantity
          %td= item.room
          %td= item.category
          %td= item.description
          %td
            = link_to "edit", edit_moving_item_path(item)
            = "|"
            = link_to "delete", moving_item_path(item), method: :delete,
                      data: { confirm: "Are you sure?" }
