- provide(:title, "Edit item")

/ data for autocomplete suggestions
= content_tag :div, "", id: "suggestions", data: @suggestions

%h1.page-header Edit item of "#{@moving.title}"

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li= link_to "My movings", movings_path
  %li= link_to @moving.title, moving_path(@moving)
  %li.active Edit item

= form_for @moving_item, html: { id: "add_moving_item", class: "form-inline" }  do |f|

  = render 'shared/error_messages', object: f.object

  = render 'fields', f: f

  .form-group{ style: "width: 100%" }
    = f.button "Edit item", class: "submit btn btn-success btn-lg btn-block",
      data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
