- provide(:title, "Add item")

%h1.page-header Add item to "#{@moving.title}"

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li= link_to "My movings", movings_path
  %li= link_to @moving.title, moving_path(@moving)
  %li.active Add item

.row
  .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8

    = form_for(@moving_item) do |f|

      = render 'shared/error_messages', object: f.object

      = render 'fields', f: f

      .form-group
        = f.button "Add item", class: "submit btn btn-success",
          data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
