- provide(:title, "Add item")

.row
  .col-md-offset-2.col-md-8
    %h1.page-header
      Add item to
      %i= " #{@moving.title}"

    %ol.breadcrumb
      %li= link_to "My movings", root_path, :"data-no-turbolink" => true
      %li= link_to @moving.title, moving_path(@moving)
      %li.active Add item

    = form_for @moving_item do |f|

      = render 'shared/error_messages', object: f.object

      = render 'moving_items/fields', f: f

      .form-group
        = f.button "Add item", class: "submit btn btn-success btn-lg btn-block",
          data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }


