- provide(:title, "Add item")

/ data for autocomplete suggestions
= content_tag :div, "", id: "suggestions", data: @suggestions

%h1.page-header Add item to "#{@moving.title}"

%ol.breadcrumb
  %li= link_to "My movings", root_path
  %li= link_to @moving.title, moving_path(@moving)
  %li.active Add item

= render 'add_form'
