/ Home non-logged-in
.landing_page
  .row
    .col-md-6
      .row.langing_header
        .landing_logo.col-md-3
          = fa_icon "home 5x"
          = fa_icon "truck 3x"

        .landing_message.col-md-9
          %h1 Moving Estimator
          %i.lead.clearfix
            estimates the volume of your moving

      .omniauth
        %h5.new_user
          New user?
          &nbsp&nbsp
          = link_to "Sign up now!", new_user_registration_path,
            class: "btn btn-outline-primary"
        = render "shared/omniauth_buttons"

    .col-md-1

    .col-md-5
      = render "login_form"
      = render "shared/fb_like_btn"
