/ Home non-logged-in
.landing_page
  .row
    .col-md-7
      .langing_header
        = fa_icon "home 5x"
        = fa_icon "truck 3x"

        %h1 Moving Estimator

        %i.lead.clearfix
          estimates the volume of your moving

      .omniauth
        = link_to fa_icon("fw twitter", text: "Sign up / Log in with twitter"),
          user_omniauth_authorize_path(:twitter),
          class: "btn btn-info btn-block btn-lg"

        .alert.alert-warning
          New user?
          = link_to "Sign up now!", new_user_registration_path, class: "btn btn-success"

    .col-md-5
      = render "login_form"

      = render "shared/fb_like_btn"

:javascript

  // https://developers.facebook.com/quickstarts/468547786650263/?platform=web
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '468547786650263',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
