- provide(:title, "Edit #{resource_name.to_s.humanize}")

.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
  %h1.page-header
    Update my account

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    = devise_error_messages!

    .field.form-group
      = f.label :username
      = f.text_field :username, autofocus: true, class: 'form-control'

    .field.form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control'

    = render "devise/shared/pending_email_message"

    %p.actions
      = f.button "Update", class: "submit btn btn-success",
        data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }

    %div{ style: "margin-bottom: 15px;" }
      = link_to "Back", :back

  %h1.page-header
    Cancel my account
  %p
    = button_to "Cancel my account", registration_path(resource_name),
      data: { confirm: "Are you sure?" }, method: :delete, class: "submit btn btn-danger"

  %div{ style: "margin-bottom: 30px;" }
    = link_to "Back", :back
