- provide(:title, "Sign up")

.sessions_new
  .row
    .col-lg-8.col-lg-offset-2
      .sessions_layout
        %h1.page-header
          Sign up
          %span.small.text-muted &nbsp; Create a MovingEstimator account

      .row
        .col-sm-6
          = link_to fa_icon("fw facebook", text: "Sign up with Facebook"),
            omniauth_authorize_path(resource_name, :facebook),
            class: "btn btn-fb btn-block btn-lg"
          = link_to fa_icon("fw twitter", text: "Sign up with Twitter"),
            omniauth_authorize_path(resource_name, :twitter),
            class: "btn btn-info btn-block btn-lg"
          %hr/

          .alert.alert-info
            Already have an account?
            = link_to "Log in", new_session_path(resource_name)
            %br/
            = link_to "Didn't receive confirmation instructions?",
              new_confirmation_path(resource_name)

        .col-sm-6
          .well= render "signup_form"
