- provide(:title, "Sign up")

.sessions_new
  .row
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      .sessions_layout
        %h1.page-header Sign up

      .row
        .col-sm-6
          = link_to fa_icon("fw twitter", text: "Sign up with twitter"), omniauth_authorize_path(resource_name, :twitter),
          class: "btn btn-default btn-block btn-lg"
          %hr/

          .alert.alert-info
            Already have an account?
            = link_to "Log in", new_session_path(resource_name)
            %br/
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

        .col-sm-6.well
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

            - if params[:omniauth_fail]
              .alert.alert-danger Email address is required.
            - else
              = devise_error_messages!

            .field.form-group
              = f.text_field :username, autofocus: false, class: 'form-control', placeholder: "Username"

            .field.form-group
              = f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email"

            - if f.object.password_required?

              .field.form-group
                = f.password_field :password, autocomplete: "off", class: 'form-control',
                  placeholder: "Password (#{@minimum_password_length} characters min)"

              .field.form-group
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control',
                  placeholder: "Password confirmation"

            .actions
              = f.button "Create my account", class: "submit btn btn-success btn-lg btn-block",
                data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
