%section.moving_info.wrapper

  .form-group
    = f.label :title, "Moving project name", class: "h4"
    = f.text_field :title, class: 'form-control', placeholder: "Name this moving"

  .form-group
    = f.label :move_date, "Moving Date", class: "h4"
    = f.date_field :move_date, class: 'form-control'

  .table-responsive
    %table.table.table-condensed#move_type
      %thead
        %tr
          %th= f.label :move_type, "", class: "h4"
          %th= f.label :dwelling_type, "", class: "h4"
          %th= f.label :dwelling_sqft, "Square footage of current residence", class: "h4"
      %tbody
        %tr
          %td= f.select :move_type, move_types, { include_blank: "- Select one -" }
          %td= f.select :dwelling_type, dwelling_types, { include_blank: "- Select one -" }
          %td
            = f.number_field :dwelling_sqft, min: 0, max: 99999, step: 50, value: 0
            sq.ft

  .table-responsive
    %table.table.table-condensed
      %thead
        %tr
          %th{ colspan: 4 }
            %label.h4 Rooms in current residence
      %tbody
        = f.hidden_field :rooms, multiple: true, value: nil
        - Room.all.pluck(:id, :name).each_slice(4) do |group|
          %tr
            - group.each do |room_id, name|
              - options = { multiple: true, checked: @moving.rooms.map(&:id).include?(room_id) }
              - checked_value, unchecked_value = room_id, nil
              %td
                %label
                  = f.check_box :rooms, options, checked_value, unchecked_value
                  = name

.row.wrapper
  %section.moving_from.col-sm-6
    %h4 Moving from

    .form-group
      = f.label :street_from, "Street", class: "col-xs-4"
      = f.text_field :street_from, class: "col-xs-8"

    .form-group
      = f.label :city_from, "City", class: "col-xs-4"
      = f.text_field :city_from, class: "col-xs-8"

    .form-group
      = f.label :state_from, "State", class: "col-xs-4"
      = f.select :state_from, us_states, { include_blank: "- Select one -" }, class: "state col-xs-8"

    .form-group
      = f.label :zip_from, "Zip", class: "col-xs-4"
      = f.text_field :zip_from, class: "col-xs-8"

  %section.moving_to.col-sm-6
    %h4 Moving to

    .form-group
      = f.label :street_to, "Street", class: "col-xs-4"
      = f.text_field :street_to, class: "col-xs-8"

    .form-group
      = f.label :city_to, "City", class: "col-xs-4"
      = f.text_field :city_to, class: "col-xs-8"

    .form-group
      = f.label :state_to, "State", class: "col-xs-4"
      = f.select :state_to, us_states, { include_blank: "- Select one -" }, class: "state col-xs-8"

    .form-group
      = f.label :zip_to, "Zip", class: "col-xs-4"
      = f.text_field :zip_to, class: 'col-xs-8'

.wrapper
  %h4 Memo

  .form-group
    = f.text_area :description, class: 'form-control', style: "min-height: 100px;",
      placeholder: "Write description"

:css

  section.moving_from > .form-group,
  section.moving_to > .form-group {
    padding: 0.5em;
  }

  select.state {
    margin-top: 2px;
  }

  section.moving_from,
  section.moving_to {
    margin-bottom: 30px;
  }

  table thead,
  table thead tr,
  table thead tr th,
  table thead tr th label.h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
