%ul.media-list
  %li.media
    .media-left.pull-left
      %a{ href: movings_path }
        = gravatar_for current_user.email
      %figcaption.text-center
        = link_to "change", "http://gravatar.com/emails"
    .media-body
      %h2.media-heading
        = current_user.username
        = render "shared/social_icon", provider: :twitter
        = render "shared/social_icon", provider: :facebook
      %span.moving_count.badge
        = pluralize(current_user.movings.count, "moving")

      .pull-right.social_connect_buttons
        = render "shared/social_connect", provider: :facebook
        = render "shared/social_connect", provider: :twitter
      .clearfix

      = link_to "New moving", new_moving_path, class: "btn btn-primary pull-right"
