- provide(:title, "Edit moving")

%h1.page-header Edit moving

%ol.breadcrumb
  %li= link_to "My movings", movings_path
  %li= link_to @moving.title, moving_path(@moving)
  %li.active Edit moving

= form_for(@moving) do |f|

  = render 'shared/error_messages', object: f.object

  = render 'fields', f: f

  .form-group{ style: "width: 100%" }
    = f.button "Edit moving", class: "submit btn btn-success btn-block",
      data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
