- provide(:title, "My movings")

%h1.page-header My movings

.row
  .col-sm-3#dashboard_menus
    %ul.nav.nav-pills.nav-stacked
      %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
      %li= link_to "New moving", new_moving_path
      %li.active= link_to "My movings", "#"
      %li= link_to "Todo list", todos_path, :"data-no-turbolink" => true

  .col-sm-9#dashboard_body
    %ul#selector
    - @movings.each do |m|
      %li= link_to m.title, moving_path(m)
