- provide(:title, "My movings")

.profile_header{ style: "margin-top: 20px;" }
  = render "profile_header"

-# Dump user data for debugging
- if Rails.env.development?
  %table
    - current_user.attributes.each do |key, value|
      %tr
        %td= key
        %td= value

%ul.nav.nav-tabs{ role: 'tablist', style: "margin-top: 30px;" }
  %li.active
    %a{ href: "#tab_movings", role: "tab", data: { toggle: "tab" } }
      My movings
  %li
    %a{ href: "#tab_todos", role: "tab", data: { toggle: "tab" } }
      Todo list

.tab-content
  #tab_movings{ class: "tab-pane fade active in" }
    = render "movings"
  #tab_todos{ class: "tab-pane fade" }
    .todos_wraper{ style: "padding: 10px 5px;"}
      = render "shared/todo_app"

:css

  .todos_wraper {
    style: "padding: 10px 5px;"
  }
