- provide(:title, "New moving")

%h1.page-header New moving

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li.active New moving

= form_for(@moving) do |f|

  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control',
    placeholder: "Name this moving"

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control',
      placeholder: "Write description"

  .form-group
    = f.button "Create moving", class: "submit btn btn-success",
      data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
