- provide(:title, @moving.title)

%h1.page-header
  = @moving.title

= link_to "Add new item", new_moving_item_path
.row
  .col-sm-12
    %ul#selector

      - @moving_items.each do |mi|
        %li
          = mi.moving_id
          = mi.name
          = mi.volume
          = mi.quantity
          = mi.description
          = mi.room
          = mi.category
