- provide(:title, @moving.title)

%h1
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
%i.lead.text-muted= @moving.description
%hr/

%p.pull-right
  = link_to "Download CSV", moving_items_path(format: "csv"), class: "badge"
  = link_to "Email CSV", "#", class: "badge"
.clearfix

= react_component 'MovingRecordsApp', { data: @moving_items,
                   itemNameSuggestions: Hash[Ingredient.pluck(:name, :volume)],
                   roomSuggestions:     Room.all.pluck(:name),
                   categorySuggestions: @moving.moving_items.pluck(:category).uniq! }

:css

  th:focus {
      outline: 0 none;
  }
