- provide(:title, @moving.title)

-# Pass autocomplete suggestions to JS
= content_tag :div, "", id: "suggestions", data: { items: @itemNameSuggestions,
  rooms: @roomSuggestions, categories: @categorySuggestions }

%h1
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
%i.lead.text-muted= @moving.description
%hr/

%p.pull-right
  = link_to "Download CSV", moving_items_path(format: "csv"), class: "badge"
  = link_to "Email CSV", "#", class: "badge"
.clearfix

= render "moving_items/add_form"

%hr/
= render "moving_items/records"

