- provide(:title, @moving.title)

%h1.page-header
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
  %br/
  %small= @moving.description

%ol.breadcrumb
  %li= link_to "My movings", movings_path
  %li.active= @moving.title
%hr/

/ = render 'moving_items/add_form'
/ %hr/

= react_component 'MovingRecordsApp', { data: @moving_items }
- unless @moving_items.count > 0
  No item found
