- provide(:title, @moving.title)

%h1.page-header
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
  %br/
  %small= @moving.description


%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li= link_to "My movings", movings_path
  %li.active= @moving.title

/ = link_to "Add new item", { controller: :moving_items, action: :new },
/   class: "btn btn-primary", style: "margin-bottom: 20px;"

/ Tabs
%ul{ class: "nav nav-tabs", role: 'tablist' }
  %li.active
    %a{ href: "#tabs_table_all_items", role: "tab", data: { toggle: "tab" } }
      All items
  %li
    %a{ href: "#tabs_add_form", role: "tab", data: { toggle: "tab" } }
      Add item

/ Tab Content
-# .fade : enables animation.
-# .in   : ensures it's shown when the page is loaded.
.tab-content
  .tab-pane.fade.in.active#tabs_table_all_items
    - if @moving_items.count > 0
      = render 'moving_items/table_moving_items'
    - else
      %p{ style: "margin: 16px;" } No item found
  .tab-pane.fade#tabs_add_form{ style: "padding-top: 16px" }
    = render 'moving_items/add_form'

