- provide(:title, @moving.title)

%h1.page-header
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
  %br/
  %small= @moving.description

%ol.breadcrumb
  %li= link_to "My movings", movings_path
  %li.active= @moving.title
%hr/

= render 'moving_items/add_form'
%hr/

- if @moving_items.count > 0
  = react_component 'MovingRecordsApp', { data: @moving_items }
- else
  %p{ style: "margin: 16px;" }
    No item found
