- provide(:title, @moving.title)

%h1.page-header
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"
  %br/
  %small= @moving.description

%ol.breadcrumb
  %li= link_to "Dashboard", root_path, :"data-no-turbolink" => true
  %li= link_to "My movings", movings_path
  %li.active= @moving.title

.row
  .col-sm-6
    = kv_table_for %w(category volume), @moving.moving_items.group(:category).sum(:volume)
  .col-sm-6
    = kv_table_for %w(room volume), @moving.moving_items.group(:room).sum(:volume)

-# By default, #tabs_table_all_items is active.
-# Exceptionally, when the page is re-rendered by MovingItemsController, #tabs_add_form is activated.

-# classes for tabs
- active_tab      = "active"
- active_content  = %w[tab-pane fade active in]
- default_tab     = ""
- default_content = %w[tab-pane fade]

- if params[:controller] == 'moving_items'
  - tab1, content1 = default_tab, default_content
  - tab2, content2 = active_tab, active_content   #<= ACTIVE
- else
  - tab1, content1 = active_tab, active_content   #<= ACTIVE
  - tab2, content2 = default_tab, default_content

/ Tabs
%ul{ class: "nav nav-tabs", role: 'tablist' }
  %li{ class: tab1 }
    %a{ href: "#tabs_1", role: "tab", data: { toggle: "tab" } }
      All items
  %li{ class: tab2 }
    %a{ href: "#tabs_2", role: "tab", data: { toggle: "tab" } }
      Add item

/ Tab Contents
/   .fade : enables animation.
/   .in   : ensures it's shown when the page is loaded.
.tab-content
  #tabs_1{ class: content1 }
    - if @moving_items.count > 0
      = render 'moving_items/table_moving_items'
    - else
      %p{ style: "margin: 16px;" } No item found
  #tabs_2{ class: content2 }
    = render 'moving_items/add_form'

:css

  #tabs_2 {
    padding-top: 20px
  }
