- provide(:title, @moving.title)

%h1.page-header
  = @moving.title
  = link_to "Edit", edit_moving_path(@moving), class: "btn btn-primary btn-sm pull-right"

  %small= @moving.description

%ol.breadcrumb
  %li= link_to "My movings", movings_path
  %li.active= @moving.title
%hr/

= react_component 'MovingRecordsApp', { data: @moving_items,
                   roomSuggestions: Room.all.pluck("name"),
                   categorySuggestions: @moving.moving_categories.pluck("name") }

= "No item found" if @moving_items.count == 0
