- provide(:title, "Resend unlock instructions")

%h1.page-header Resend unlock instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|

  = devise_error_messages!

  .field.form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: 'form-control'

  .actions

    = f.button "Resend unlock instructions", class: "submit btn btn-success",
    data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
