#people_cards

  #people_search
    .filter_wrapper
      = form_tag(users_path, method: "get") do
        = text_field_tag :search, nil, placeholder: "Search users ...", class: "form-control"
        = submit_tag "", style: "display: none;"

  = will_paginate @users
  .cards_wrapper
    - @users.each do |user|
      = render 'user', user: user
  = will_paginate @users
