#PeopleSection.well

  #PeopleSearch
    .filter-wrapper
      = form_tag(users_path, method: "get") do
        = text_field_tag :search, nil, placeholder: "Search users ...", class: "form-control"
        = submit_tag "", style: "display: none;"

  .PaginatorSection
    = will_paginate @users

  .cards-wrapper
    #ms-container.transitions-enabled.centered.clearfix.masonry.masonry-brick
      - @users.each do |user|
        = render 'user', user: user

  .PaginatorSection
    = will_paginate @users

:coffee
  # To use Masonry with Bootstrap grids
  container = document.querySelector('#ms-container')
  msnry = new Masonry container, itemSelector: '.ms-item',
                                 columnWidth:  '.ms-item'
