- panel_color = if user.admin then "panel-red" else "panel-blue" end

.col-lg-4.col-md-6.col-sm-6
  .person_card.panel{ class: panel_color }
    .panel-heading
      .media
        .media-left.media-middle.pull-left
          .avatar-wrapper
            = gravatar_for(user.email, size: 50)

            - if user.admin?
              .center
                %span.badge Admin
            -# Show the "delete" links only if the current user is an admin.
            - if current_user.admin? && (current_user != user)
              .center
                = link_to "delete", user_path(user), method: :delete,
                                    data: { confirm: "Are you sure?" }, class: "delete"

        .info_wrapper.media-body
          %h4.media-heading
            = user.username

          %ul
            %li
              = "Log in count:"
              = user.sign_in_count
            %li
              = "Since:"
              = user.created_at.strftime("%B %Y")

    .person_sentence.panel-body
      %ul.list-unstyled.list-inline
        %li
          = fa_icon 'envelope'
          = user.email
