#add-email.container
  %h1.page-header Add Email
  = form_for(@user, url: finish_signup_path(@user)) do |f|
    = render "shared/error_messages", object: f.object

    .field.form-group
      = f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Username"

    .field.form-group
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email"

    .actions
      = f.submit 'Continue', class: 'btn btn-success'
