#add-email.container
  %h1.page-header Add Email
  = form_for(@user, url: finish_signup_path(@user)) do |f|
    = render "shared/error_messages", object: f.object

    .field.form-group
      = f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Username"

    .field.form-group
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email"

    .field.form-group
      = f.password_field :password, autocomplete: "off", class: 'form-control',
        placeholder: "Password (8 characters min)"

    .field.form-group
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control',
        placeholder: "Password confirmation"

    .actions
      = f.submit 'Continue', class: 'btn btn-success'
