- provide(:title, "All users")

%h2.page-header
  All users
%p
  Download:
  = link_to "CSV", users_path(format: "csv")

= render 'experiment_people_component'

= will_paginate @users
%ul.users
  = render @users
= will_paginate @users
