- provide(:title, "Dashboard")

%h1.page-header
  Dashboard
  %small= current_user.email

%ul.nav.nav-pills{ style: "margin-bottom: 20px;" }
  %li.active= link_to "Dashboard", "#"
  %li= link_to "New moving", new_moving_path
  %li= link_to "My movings", movings_path
  %li= link_to "Todo list", todos_path, :"data-no-turbolink" => true

/ #react_todolist

/ :coffee

/   $(document).ready ->
/     React._initTodoApp("react_todolist", todos: #{ @todos })
