- provide(:title, "Dashboard")

.profile_header
  %section.user_info
    %h2
      = gravatar_for current_user.email
      %span.email
        = current_user.email
      %span.moving_count.small
        = pluralize(current_user.movings.count, "moving")
.clearfix

%ul.nav.nav-pills{ style: "margin: 20px 0;" }
  %li= link_to "New moving", new_moving_path
  %li= link_to "My movings", movings_path
  %li= link_to "Todo list", todos_path, :"data-no-turbolink" => true

:css

  .profile_header {
    section.user_info {
      margin-top: 20px;
    }

    span.gravatar {
      float: left;
      margin-right: 20px;
      margin-top:   5px;
    }
    span.email {
      padding: 20px;
    }
  }
