%li{ id: "ingredient-#{ingredient.id}" }
  = ingredient.name
  = ingredient.volume
  = link_to "edit", edit_ingredient_path(ingredient)
  - if current_user.admin? && current_user
    = "|"
    = link_to "delete", ingredient, method: :delete, data: { confirm: "Are you sure?" }
