- provide(:title, "Contact")

.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
  %h1.page-header
    Feedback
  = form_for @contact, url: contact_path do |f|
    = render 'shared/error_messages', object: f.object

    .form-group
      = f.label :username, "Your name"
      = f.text_field :username, class: "form-control", value: current_user.try(:username)

    .form-group
      = f.label :email, "Your email"
      = f.email_field :email, class: "form-control", value: current_user.try(:email)

    .form-group
      = f.label :message, "Messsage"
      = f.text_area :message, class: "form-control"

    .form-group
      = f.button "Send", class: "submit btn btn-success",
        data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }

  = render "shared/about_author"
