- provide(:title, "Todos")

%h1.page-header Todos

.row
  .col-sm-3#dashboard_menus
    %ul.nav.nav-pills.nav-stacked
      %li= link_to "Dashboard", root_path
      %li= link_to "New moving", new_moving_path
      %li= link_to "My movings", movings_path
      %li.active= link_to "Todo list", "#"

  .col-sm-9#dashboard_body

    #react_todolist

:coffee

  document.addEventListener "DOMContentLoaded", () ->
    React._initTodoApp("react_todolist", todos: #{ @todos })
