-# To activate dropdown menu,
-# add the Bootstrap JavaScript library to application.js.
%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      / Hamburger button
      %button{ type: 'button', class: 'navbar-toggle collapsed',
        data: { toggle: 'collapse', target: '#hamburger-navigation' } }
        %span.sr-only Navigation toggle
        - 3.times do
          %span.icon-bar
      = link_to "西口", root_path, id: 'logo', class: 'navbar-brand'

    / Nav links for toggling
    %nav.collapse.navbar-collapse#hamburger-navigation.navbar-right
      %ul{ class: 'nav navbar-nav navbar-right', role: 'menu' }

        -# Show different menu items depending on the login status.
        -if user_signed_in?
          %li= link_to "#{current_user.email}", root_path
          %li= link_to "Account", edit_user_registration_path
          %li= link_to "Log out", destroy_user_session_path, method: :delete

          / %li.dropdown
          /   %a{ class: 'dropdown-toggle', role:'button', data: {toggle: 'dropdown'} }
          /     Account
          /     %b.caret

          /   %ul.dropdown-menu
          /     %li= link_to "Link", "#"
          /     %li= link_to "Link", "#"
          /     %li.divider
          /     %li= link_to "Link", "#"
        -else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
        %li= link_to "Contact", contact_path
