/ Navigation
%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button{ type: 'button', class: 'navbar-toggle',
      data: { toggle: 'collapse', target: '.navbar-ex1-collapse' } }
      %span.sr-only Navigation toggle
      - 3.times do
        %span.icon-bar
    = link_to "西口", root_path, id: 'logo', class: 'navbar-brand'

  / Top Menu Items
  %ul.nav.navbar-right.top-nav
    -if user_signed_in?
      %li.dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown" }
          %i.fa.fa-user
          = current_user.try(:username)
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/" }
              %i.fa.fa-fw.fa-user
              Dashbord
          %li
            %a{ href: "/contact" }
              %i.fa.fa-fw.fa-envelope
              Contact
          %li
            %a{ href: "/users/edit" }
              %i.fa.fa-fw.fa-gear
              Settings
          %li.divider
          %li
            %a{ href: "/users/sign_out", method: :delete }
              %i.fa.fa-fw.fa-power-off
              Log Out
    - else
      %li= link_to "Sign up", new_user_registration_path
      %li= link_to "Log in", new_user_session_path
      %li= link_to "Contact", contact_path
