%nav.navbar.navbar-inverse.navbar-static-top
  .container
    = link_to "西口", root_path, id: 'logo', class: 'navbar-brand'
    .navbar-header
      -if user_signed_in?
        = render 'layouts/dropdown_logged_in'
      - else
        %ul.nav.top-links.pull-right
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
          %li= link_to "Contact", contact_path
