- if user_signed_in?
  - if current_user.admin?
    / Links for admin only
    %li.dropdown
      %a.dropdown-toggle{ "data-toggle" => "dropdown",  href: "#" }
        = fa_icon "fw unlock", text: "Admin"
        = fa_icon "caret-down"
      %ul.dropdown-menu
        %li= link_to fa_icon("fw users", text: "Users"), users_path
        %li= link_to fa_icon("fw table", text: "Rooms"), rooms_path, :"data-no-turbolink" => true
        %li= link_to fa_icon("fw table", text: "Ingredients"), ingredients_path
