%nav.navbar.navbar-inverse.navbar-static-top
  .container
    = link_to "西口", root_path, id: 'logo', class: 'navbar-brand'

    .navbar-header
      / Hamburger button
      %button{ type: 'button', class: 'navbar-toggle collapsed',
        data: { toggle: 'collapse', target: '#hamburger-navigation' } }
        %span.sr-only Navigation toggle
        - 3.times do
          %span.icon-bar

    / Nav links
    %nav.collapse.navbar-collapse#hamburger-navigation
      / Left
      .nav.navbar-nav.navbar-left
        -if user_signed_in?
          = render 'layouts/dropdown_logged_in'

      / Right
      .nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
              New
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Moving", new_moving_path
          %li= link_to "My movings", movings_path
        - else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
          %li= link_to "Contact", contact_path
