!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    %title= full_title(yield(:title))

    = stylesheet_link_tag    'application', media: 'all'  # turbolinks disabled
    = javascript_include_tag 'application'                # turbolinks disabled
    = csrf_meta_tags
    = render 'layouts/shim'

  %body
    = render 'layouts/navbar_header'
    .container#main_container
      = render 'layouts/flash_message'
      = yield  # contents
    = render 'layouts/debug_box'
