!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title= full_title(yield(:title))

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'

  %body
    - if user_signed_in? && request.path == root_path
      -# for the dashboard
      = render 'sb_admin_2/sb_admin_2_index.html.haml'

      - if Rails.env.development?
        = debug(params)
        = render 'layouts/screen_size'

    - else
      = render 'layouts/header'
      .container#main_container
        = render 'layouts/flash_message'
        = yield  # contents
        / = render 'layouts/footer'

        - if Rails.env.development?
          = debug(params)
          = render 'layouts/screen_size'

%script{:src => "//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.1/metisMenu.min.js"}
